// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #02576c;
$yellow: #ffe837;
$orange: #E67E22;
$green: #05a19c;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-green: #103c42;
