<div class="container-fluid">
  <div class="home-banner">
    <div class="home-title">
      <h1>360 FEEDBACK. ON YOUR TERMS.</h1>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info' %>
    </div>
    <div class="home-bg-image"></div>
  </div>
</div>
