<%= link_to survey_path(survey), class: 'card-survey-link' do %>
  <div class="card-survey">
    <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"> -->
    <div class="card-survey-bg"></div>
    <div class="card-survey-infos">
      <div>
        <h2><%= survey.title %></h2>
        <p>Short description here!</p>
      </div>
      <!-- <h2 class="card-survey-pricing">£99.99</h2> -->
      <!-- <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-survey-user avatar-bordered"/> -->
    </div>
  </div>
<% end %>
