.answer-list-item {
  border-radius: 4px;
  background: $green;
  color: $white;
  margin-bottom: 8px;
  padding: 8px;

}

.answered-item {
  background: $dark-green;
}

a.answer-list-item {
  display: block;
  transition: 0.3s;
  &:hover {
    color: $white;
    text-decoration: none;
    opacity: 0.6;
  }
}
