<div class="container">
  <div class="row my-3 d-flex justify-content-center">
    <div class="col-sm-12 col-md-9">
      <h1><%= @survey.title %></h1>
      <h2><%= @survey.user.email %></h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-9">
      <% @survey.questions.each do |question| %>
        <div class="list-question">
          <p><%= question.title %></p>
          <% question.answers.each do |answer| %>
            <%= link_to answer.title, answer_survey_session_path(@survey_session, answer_id: answer.id), class: "answer-list-item q#{question.id} a#{answer.id}", remote: true %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
